<!DOCTYPE html>
{% load static %}
<html>
    <head>
        
        <title>Goatsucker Official Website</title>

        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}">   
        <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet">     
        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <script src="https://kit.fontawesome.com/e063d8a1a2.js"></script>
        <script src="{% static 'polls/js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'polls/js/script.js' %}"></script>
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Smooch&display=swap" rel="stylesheet">

    </head>
    <body>
        <header>
                <div id="navArea">
                    <nav>
                      <div class="inner">
                        <ul>
                            <li> <a href="#About">About</a></li>
                            <li> <a href="#Member">Member</a></li>
                            <li> <a href="#Live">Live</a></li>
                            <li> <a href="#Goods">Goods</a></li>
                            <li> <a href="#Contact">Contact</a></li>
                        </ul>
                      </div>
                    </nav>
                  
                    <div class="toggle_btn">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                  
                    <div id="mask"></div>
                  
                  </div>
            </div>
        </header>

        <main>
            <div class="container">
                <h1 class="logo">Goatsucker Official Website</h1>
                <div class="image">
                    <img src="{% static 'polls/img/chupa.jpg' %}" width="100%">
                </div>
            </div>

            <div id="About"> 
                <div class="container">
                    <h1 class="title">About</h1>
                    <p class="text element">
                        {{ about.text | linebreaksbr  }}
                    </p>
                </div>
              </div>

            <div id="Member">
                <div class="container">
                    <h1 class="title">Member</h1>
                    {% for mem in member%}
                    <div class="content" style="margin-bottom: 50px;">
                        <img class="element" src="{{ mem.image.url }}" style="width: 40%;">
                        <span class="text-left element">
                            {{ mem.part }} . {{ mem.name }}
                        </span>
                        <p class="text-left element">
                            {{ mem.profile | linebreaksbr  }}
                        </p>
                        <p style="text-align: center;">
                        <a class="element" href="{{ mem.link }}"><i class="fab fa-twitter fa-4x"></i></a>
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div id="Live">
                <div class="container">
                    <h1 class="title">Next Live</h1>
                    <p class="text element" style="font-weight: bold;">
                        {{ data.date }}
                    </p>
                    <p class="text element" style="font-weight: bold;">
                        {{ data.title }}
                    </p>
                    <p class="text element">
                        <span>OPEN:</span>{{ data.open }}
                    </p>
                    <p class="text element">
                        <span>START:</span>{{ data.start }}
                    </p>
                    <p class="text element">
                        {{ data.ticket }}
                    </p>
                    <p class="text element">
                        {{ data.place }}
                    </p>
                    <p class="text element">
                        <a href="{{ data.link }}">{{ data.link }}</a>
                    </p>

                </div>
            </div>

            <div id="Goods" style="padding-top: 100px;">
                <div class="container" >
                    <h1 class="title element">Goods</h1>
                    <p class="text element">
                        UT me!にて公式グッズ販売中！！<br>
                    </p>

                    <div class="production-group clearfix element">
                        <div class="production">
                            <p class="p-text">
                                <br>
                                チュパおTシャツ（黒）<br>
                            </p>
                            <img src="{% static 'polls/img/tshirt1.jpg' %}" width="100%" height="100%">
                            <p class="p-text">価格：3,290円</p>
                        </div>
                        <div class="production">
                            <p class="p-text">
                                <br>
                                チュパ子Tシャツ（黒）<br>
                            </p>
                            <img src="{% static 'polls/img/tshirt2.jpg' %}" width="100%" height="100%">
                            <p class="p-text">価格：3,290円</p>
                        </div>
                        <div class="production">
                            <p class="p-text">
                                <br>
                                チュパおとチュパ子<br>
                                Tシャツ（黒）<br>
                            </p>
                            <img src="{% static 'polls/img/tshirt3.jpg' %}" width="100%" height="100%">
                            <p class="p-text">価格：3,290円</p>
                        </div>
                        <div class="production">
                            <p class="p-text">
                                <br>
                                チュパおとチュパ子<br>
                                ミニトート<br>
                            </p>
                            <img src="{% static 'polls/img/totobag.jpg' %}" width="100%" height="100%">
                            <p class="p-text">価格：2,290円</p>
                        </div>
                    </div>
                    <p class="text element">
                        ※上記デザインは一例です。<br>
                        以下購入リンクより、お好きなカラーで<br>
                        Tシャツ、ロンT、パーカー、トートバック等<br>
                        ご自由にお選びいただけます。<br>
                    </p>
                    <div class="link text">
                        <a href="https://utme.uniqlo.com/jp/front/market/show?id=716127&locale=ja">購入はこちらから</a>
                    </div>                
                </div>
            </div>


            <div id="Contact" style="padding-top: 50px; padding-bottom: 200px;">
                <div class="container" style="padding-top: 100px;">
                    <h1 class="title">Contact</h1>
                    <p class="text element">当バンドへのお問い合わせは下記フォームよりお願い致します</p>
                    <div class="form element">
                        <form>
                            <div class="form-group">
                                <label>氏名</label>
                                <input type="text" class="form-control" id="name" placeholder="氏名">
                            </div>
                            <div class="form-group">
                              <label>メールアドレス</label>
                              <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="メールアドレス">
                            </div>
                            <div class="form-group">
                                <label>お問い合わせ内容</label>
                                <textarea class="form-control" id="content" rows="10"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">送信</button>
                        </form>   
                    </div>
                    <div id="back" class="element" style="margin-top: 100px;">
                        <a href="#">
                            <img class="chupakun" src="{% static 'polls/img/chupakun.jpg' %}" 
                            onmouseover="this.src='{% static 'polls/img/rocket.jpg' %}'" 
                            onmouseout="this.src='{% static 'polls/img/chupakun.jpg' %}'" />
                        </a>
                    </div>
                                
                </div>
            </div>

        </main>

        <footer>
            <p class="footer text"> © 2021 Goatsucker</p>
        </footer>
        
      
    </body>
</html>