<!DOCTYPE html>
{% load static %}
<html>
    <head>
        
        <title>Goatsucker Official Website</title>

        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}">        
        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <script src="https://kit.fontawesome.com/e063d8a1a2.js"></script>
        <script src="{% static 'polls/js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'polls/js/script.js' %}"></script>
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Smooch&display=swap" rel="stylesheet">

    </head>
    <body>
        <header>
            <div class="container">
                <h1 class="logo">Goatsucker Official Website</h1>
                <div id="navArea">

                    <nav>
                      <div class="inner">
                        <ul>
                            <li> <a href="#About">About</a></li>
                            <li> <a href="#Member">Member</a></li>
                            <li> <a href="#Live">Live</a></li>
                            <li> <a href="#Goods">Goods</a></li>
                            <li> <a href="#Contact">Contact</a></li>
                        </ul>
                      </div>
                    </nav>
                  
                    <div class="toggle_btn">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                  
                    <div id="mask"></div>
                  
                  </div>
            </div>
        </header>

        <main>
            <div class="container" >
                <div class="image">
                    <img src="{% static 'polls/img/chupa.jpg' %}" width="100%" height="100%">
                </div>
            </div>

            <div id="About" style="padding-top: 100px;">
                <div class="container" style="padding-top: 100px;">
                    <h1 class="title">About</h1>
                    <p class="text element">
                        千葉県松戸市で活動中のロックバンド<br>
                        <br>
                    </p>
                    <p class="text element">
                          【バンド編成】<br>
                          Vo. Gt. Ba. Dr. Key.<br>
                          <br>
                          【演奏楽曲】<br>
                          現在はコピーのみやっています。<br>
                          amazarashi , 感覚ピエロ , Mrs.GreenApple etc...

                    </p>
                </div>
              </div>

            <div id="Member" style="padding-top: 100px;">
                <div class="container" style="padding-top: 100px;">
                    <h1 class="title">Member</h1>
                    <div class="content">
                    <p class="text-left element">
                        <b>Vo. りょーさん</b><br>
                        <br>
                        太く芯のあるハイトーンボイスで熱く歌い上げる<br>
                        ボーカリスト。<br>
                        トークスキルも抜群！！メイド好き。千葉出身。<br>
                        <br>
                        <br>
                    </p>
                    <p class="text-left element">
                        <b>Gt. だいちゃん</b><br>
                        <br>
                        鋭く尖った音色でバンドの花形を担うギタリスト。<br>
                        カッコつけているが見た目はガリガリ君。大阪出身。<br>
                        <br>
                        <br>
                    </p>
                    <p class="text-left element">
                        <b>Ba. ゆーやん</b><br>
                        <br>
                        ファンキーでリズミカルなフレーズでバンドを支える<br>
                        ベーシスト。<br>
                        普段は大人しいが話せば毒舌。大阪出身。<br>
                        <br>
                        <br>
                    </p>
                    <p class="text-left element">
                        <b>Dr. よっぴー</b><br>
                        <br>
                        常に笑顔で後ろからバンドメンバーを和ませる<br>
                        ドラマー。<br>
                        ライブ前に必ず牛乳を飲む習性がある。新潟出身。<br>
                        <br>
                        <br>
                    </p>
                    <p class="text-left element">
                        <b>Key. ふぁなちゃん</b><br>
                        <br>
                        バンドメンバー唯一の女性。<br>
                        多彩な音色でバンドを彩るキーボーディスト。<br>
                        常にドタバタ天然ドジっ子娘。千葉出身。<br>
                        <br>
                    </p>
                    </div>
                </div>
            </div>

            <div id="Live" style="padding-top: 100px;">
                <div class="container" style="padding-top: 100px;">
                    <h1 class="title">Next Live</h1>
                    <p class="text element" style="font-weight: bold;">
                        {{ data.date }}
                    </p>
                    <p class="text element" style="font-weight: bold;">
                        {{ data.title }}
                    </p>
                    <p class="text element">
                        <span>OPEN:</span>{{ data.open }}
                    </p>
                    <p class="text element">
                        <span>START:</span>{{ data.start }}
                    </p>
                    <p class="text element">
                        {{ data.ticket }}
                    </p>
                    <p class="text element">
                        {{ data.place }}
                    </p>
                    <p class="text element">
                        <a href="{{ data.link }}">{{ data.link }}</a>
                    </p>

                </div>
            </div>

            <div id="Goods" style="padding-top: 100px;">
                <div class="container" >
                    <h1 class="title element">Goods</h1>
                    <div class="production-group clearfix element">
                        <div class="production">
                            <p class="text">
                                <br>
                                チュパおくん<br>
                            </p>
                            <img src="{% static 'polls/img/tshirt1.jpg' %}" width="100%" height="100%">
                            <p class="text">価格：3,300円</p>
                        </div>
                        <div class="production">
                            <p class="text">
                                <br>
                                チュパこちゃん<br>
                            </p>
                            <img src="{% static 'polls/img/tshirt2.jpg' %}" width="100%" height="100%">
                            <p class="text">価格：3,300円</p>
                        </div>
                        <div class="production">
                            <p class="text">
                                <br>
                                チュパ夫妻
                            </p>
                            <img src="{% static 'polls/img/tshirt3.jpg' %}" width="100%" height="100%">
                            <p class="text">価格：3,300円</p>
                        </div>
                        <div class="production">
                            <p class="text">
                                <br>
                                宇宙旅行<br>
                            </p>
                            <img src="{% static 'polls/img/longTshirt.jpg' %}" width="100%" height="100%">
                            <p class="text">価格：4,300円</p>
                        </div>
                        <div class="production">
                            <p class="text">
                                <br>
                                月面着陸<br>
                            </p>
                            <img src="{% static 'polls/img/parker.jpg' %}" width="100%" height="100%">
                            <p class="text">価格：5,300円</p>
                        </div>
                    </div>
                    <div class="link text">
                        <div class="link text">
                        <a href="https://utme.uniqlo.com/">購入はこちらから</a>
                    </div>                
                </div>
            </div>


            <div id="Contact" style="padding-top: 100px; padding-bottom: 200px;">
                <div class="container" style="padding-top: 100px;">
                    <h1 class="title">Contact</h1>
                    <p class="text element">当バンドへのお問い合わせは下記フォームよりお願い致します</p>
                    <div class="form element">
                        <form>
                            <div class="form-group">
                                <label>氏名</label>
                                <input type="text" class="form-control" id="name" placeholder="氏名">
                            </div>
                            <div class="form-group">
                              <label>メールアドレス</label>
                              <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="メールアドレス">
                            </div>
                            <div class="form-group">
                                <label>お問い合わせ内容</label>
                                <textarea class="form-control" id="content" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">送信</button>
                          </form>   
                    </div>
                    <span id="back">
                        <a href="#">
                            <img class="chupakun" src="{% static 'polls/img/chupakun.jpg' %}" 
                            onmouseover="this.src='{% static 'polls/img/rocket.jpg' %}'" 
                            onmouseout="this.src='{% static 'polls/img/chupakun.jpg' %}'" />
                        </a>
                    </span>
                                
                </div>
            </div>

        </main>

        <footer>
            <p class="footer"> © 2021 Goatsucker</p>
        </footer>
        
      
    </body>
</html>